<h1 class="utrecht-heading-1">Inloggen mislukt</h1>
<p class="utrecht-paragraph">De machtiging kon niet worden gecontroleerd. Probeer het opnieuw.</p>
<p><a class="utrecht-link" href="/gemachtigd/login?method=IDWallet">Opnieuw inloggen</a></p>
