<h1 class="utrecht-heading-1">Welkom {{type}}</h1>
<p class="utrecht-paragraph">Je bent ingelogd als <strong>{{clientName}}</strong>, namens <strong>{{clientInitials}} {{clientFamilyName}}</strong>. </p>
</br>
<p class="utrecht-paragraph">Deze demo toont de kenmerken uit de machtiging, dit wordt later vervangen door echte content.</p>
</br>
<details class="test-kvk-details">
    <summary class="utrecht-paragraph">Testgegevens</summary>
    <ul>
      <li>Identifier: {{identifier}}</li>
      <li>Type: {{type}}</li>
      <li>BSN vertegenwoordigde: {{clientBsn}}</li>
      <li>Vertegenwoordigde initialen: {{clientInitials}}</li>
      <li>Vertegenwoordigde achternaam: {{clientFamilyName}}</li>
      <li>KVK-nummer: {{kvkNumber}}</li>
      <li>Naam bedrijf: {{clientName}}</li>
    </ul>
    <p class="utrecht-paragraph">Scopes:</p>
  <ul>
  {{#scopes}}
    <li>{{.}}</li>
  {{/scopes}}
  </ul>
</details>





