<h1 class="utrecht-heading-1">Welkom</h1>
<p class="utrecht-paragraph">Je bent ingelogd. Deze demo toont de kenmerken uit de machtiging, dit wordt later vervangen door echte content:</p>
<ul>
  <li>Identifier: {{identifier}}</li>
  <li>Type: {{type}}</li>
  <li>BSN vertegenwoordigde: {{clientBsn}}</li>
  <li>KVK-nummer: {{kvkNumber}}</li>
</ul>
<p class="utrecht-paragraph">Scopes:</p>
<ul>
{{#scopes}}
  <li>{{.}}</li>
{{/scopes}}
</ul>
