<footer class="nijmegen-footer">
  <div class="nijmegen-footer__container">
    <div class="nijmegen-footer__sub">
      <p class="utrecht-paragraph">Gemeente Nijmegen</p>
    </div>
  </div>
</footer>
