<nav class="nijmegen-side-navigation" aria-label="Hoofdnavigatie">
  <ul class="nijmegen-side-navigation__list">
    <li class="nijmegen-side-navigation__item">
      <a class="nijmegen-side-navigation__link" href="/gemachtigd/taken">
        <span class="nijmegen-side-navigation__link-label">Taken</span>
      </a>
    </li>
  </ul>
</nav>
